IfcInfraToolKit_DynamoCore/bin/
IfcInfraToolKit_DynamoC3D/bin/
IfcInfraToolKit_DynamoRevit/bin/
IfcInfraToolKit_Common/debug/


IfcInfraToolKit_DynamoCore/obj/
IfcInfraToolKit_DynamoC3D/obj/
IfcInfraToolKit_DynamoRevit/obj/
IfcInfraToolKit_Common/obj/
packages/
IfcInfraToolKit_Common/
.vs/
utilServices/Off_GeomLibrary/bin/
utilServices/Off_GeomLibrary/obj/
Alignment_ImportService/bin/
Alignment_ImportService/obj/
