IfcInfraToolkit/IfcInfraToolkit/obj/
IfcInfraToolkit/IfcInfraToolkit_Dyn/obj/
IfcInfraToolkit/packages/
IfcInfraToolkit/IfcInfraToolkit_Dyn/bin/
IfcInfraToolkit/IfcInfraToolkit/bin/
IfcInfraToolkit/.vs/IfcInfraToolkit/v16/.suo
IfcInfraToolkit/CMD_testIfcInfraToolkit/bin/
IfcInfraToolkit/CMD_testIfcInfraToolkit/obj/
IfcInfraToolkit/IfcInfraToolkit/IfcInfraToolkit.csproj.user
IfcInfraToolkit/IfcInfraToolkit/packages.config
